*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/appInsightsSettings.xml
/.idea/codeStyles/
/.idea/inspectionProfiles/
/.idea/shelf/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*.hprof
proguard/
app/release/
venv/
